
<div class='displayWrap'>
<form method="post" action="/update/user/<%= @user.id%>">
<div>update first name</div>
<textarea type="text" name ="fname" rows='1' cols="40"><%=@user.fname%> </textarea>
<div>update last name</div>
<textarea type="text" name ="lname" rows='1' cols="40"><%=@user.lname%></textarea>
<div>update email address</div>
<textarea type="text" name ="email" rows='1' cols="40"><%=@user.email%></textarea>
<br>
<input type="submit">
</form>
</div>


<div class='deleteEdit'> 
<div>to delete your account eneter and confirm your password</div>
<form method='post' action='/destroy/user/<%=@user.id %>'>
<input type="password"  placeholder='password' name="delete_password" />
<input type="password"  placeholder='confirm password' name="delete_password_confirm" />

<input type='submit' value='Delete User'> 
</form>
</div>
