<!DOCTYPE html>
<html>
<head>
	<title></title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../css/main.css"  >
    <link href="https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT|Pattaya|Playfair+Display|Playfair+Display|Arvo" rel="stylesheet">
    
</head>
<body>
<nav class='nav'>
<ul>
<li id='head'></li>
<li id='logoText'><a id='logoId' href="/"><strong>Over</strong><br>Thinker</a></li>
  <% if session[:user_id] %>
  
  
  <div class='rightMenu'>
  <div id='allUserText'>
   <a href="/all_users">All Users</a>
   </div>
  
    <div class='dropdown'>
    <div class="dropbtn"><a><%= current_user.username %></a></li></div>
    <div class="dropdown-content">


<a href="/new">New Blog</a>
<a  href='/users/<%=current_user.id%>'>Your Blogs</a>
<a href='/admin/<%=current_user.id%>'>Settings</a>
 <form  method='post' action='/logout'>
<input id='forSignOut'  type='submit' value='Sign out'> 
</form>
</a>
</div>
</div>

</div>
<a id='newButton' href='/new'><div class='tooltip' id='plus'>+<span class="tooltiptext">New Blog</span></div></a>
<% end %>
</ul>


</nav>


 

 <% flash.keys.each do |type| %>
  <div data-alert id="flash" type="alert-box radius">
    <%= flash[type] %>
    <a  class="close"></a>
  </div>
<% end %>



<div class='main-container'>
<%= yield %>
</div>


<div class='sideGrid'>
		<a href="https://facebook.com/redbridgeproductions/"><div id='one'></div>
		<div id='two'></div></a>
		<a href='https://www.instagram.com/mr.blahblahblah/'><div id='three'></div></a>
		<div id='four'></div>
		<a href="mailto:ian.ziatyk@gmail.com?subject=Great%20Blog!&body=Hello,%20I%20read%20your%20blog%20and%20it%20was%20amazing"><div id='five'></div></a>
	</div>

</body>
</html>