
<% if session[:user_id] == @user.id%>
<h2>Welcome <%= @user.username %></h2>
<form method='post' action='/destroy/user/<%=@user.id %>'>
<input type='submit' value='Delete User'> 
</form>
<% @user.blogs.each do |x| %>
<div class='displayWrap'>
<div class='blogTitle'><a href="/blogs/<%=x.id%>" style="text-decoration:none";><%=x.title%></a></div>

<div class='infoBox'>
</div>
</div>
<% end%>
<%end%>


<% if session[:user_id] != @user.id%>
<h2> <%= @user.username %>'s Blogs</h2>
<% @user.blogs.each do |x| %>
<div class='displayWrap'>
<div class='blogTitle'><a href="/blogs/<%=x.id%>" style="text-decoration:none";><%=x.title%>-<%=x.user.username%></a></div>

<div class='infoBox'>
<div class='blogText'><%=x.content%></div>
</div>
</div>
<% end%>

<%end%>



